<header class="header">
  <nav class="nav">
    <div class="nav__menu">
      <div class="nav__logo">
        <img src="/assets/logo.png" alt="Logo" href="/" class="nav__logo-img" />
      </div>
    </div>
  </nav>
</header>
